*.regx
*.autosave
*.3-pre1
*.cppcheck
*.pdb
*.lib
*.pro.user
*.lastcodeanalysissucceeded
*.filters
*.vcxproj.user
.qmake.stash
lib/
build/
out/
test/files/
pack/
test/
roadmap.txt
gh-pages/
doc/wiki/
doc/xml/
doc/html/
doc/rst/
doc/md/
test*/
.vs/
x64/
\.idea/

cmake-build-debug/

bit7z.sln


*.suppress

*.pro\.user*-pre1

*.opensdf

*.sdf
