*.regx
*.autosave
*.3-pre1
*.cppcheck
*.pdb
*.lib
*.pro.user
*.txt.user
*.lastcodeanalysissucceeded
*.filters
*.vcxproj
*.vcxproj.user
.qmake.stash
*.a
third_party/
bin/
build/
out/
pack/
roadmap.txt
gh-pages/
docs/cppreference/
docs/doxygen-awesome-css
docs/wiki/
docs/xml/
docs/html/
docs/rst/
docs/md/
.vs/
x64/
\.idea/
cmake-build-debug/
bit7z.sln
*.suppress
*.pro\.user*-pre1
*.opensdf
*.sdf
*.TMP

CMakeSettings.json

*.kdbx

.vscode/

*.code-workspace
*.suo
*.db
*.opendb

*.cd

*.ruleset

bit7z-cppcheck-build-dir/

*.ctu-info

# PVS-Studio files and directories
.PVS-Studio/
*.PVS-Studio.i
*.cfg
*.dfo
pvs-studio-analyzer.stacktrace.txt

.mailmap
*.ini
